/* $Id: brown_brown_google_cse.css,v 1.1.4.4 2008/06/27 00:13:19 mfb Exp $ */
#google-cse-searchbox-form div, #google-cse-searchbox-form input { margin: 0; display: inline; }
#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input { margin: 0; display: inline; }
#google-cse-searchbox-form .form-radios div { display: block; }
#google-cse-results-searchbox-form .form-radios div { display: block; }
#google-cse-results-gadget a { margin-left: 2em; }

/*
     FILE ARCHIVED ON 12:09:56 Feb 18, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:26 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.835
  exclusion.robots: 0.043
  exclusion.robots.policy: 0.025
  esindex: 0.02
  cdx.remote: 42.308
  LoadShardBlock: 109.194 (3)
  PetaboxLoader3.datanode: 127.667 (4)
  load_resource: 72.864
  PetaboxLoader3.resolve: 39.549
*/