/* $Id: img_assist.css,v 1.6.4.1 2008/07/22 23:08:13 sun Exp $ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 18:49:56 May 27, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:33:28 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.519
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 29.013
  LoadShardBlock: 200.617 (3)
  PetaboxLoader3.resolve: 269.91 (3)
  PetaboxLoader3.datanode: 118.698 (4)
  load_resource: 209.823
*/