/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 10:33:36 Nov 06, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:59:47 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.101
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.015
  esindex: 0.019
  cdx.remote: 6.99
  LoadShardBlock: 997.169 (3)
  PetaboxLoader3.datanode: 892.964 (6)
  PetaboxLoader3.resolve: 159.42 (3)
  load_resource: 69.744
*/