
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 01:58:26 Oct 23, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:32:02 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.746
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.014
  esindex: 0.012
  cdx.remote: 6.644
  LoadShardBlock: 120.073 (3)
  PetaboxLoader3.datanode: 71.289 (4)
  PetaboxLoader3.resolve: 340.177 (2)
  load_resource: 309.416
*/