/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 08:23:25 Apr 14, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:09 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.568
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.015
  esindex: 0.01
  cdx.remote: 12.055
  LoadShardBlock: 228.105 (3)
  PetaboxLoader3.datanode: 224.887 (4)
  load_resource: 88.054
  PetaboxLoader3.resolve: 66.52
*/