/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 23:50:45 Jan 21, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:13:18 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.592
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.014
  esindex: 0.012
  cdx.remote: 5.869
  LoadShardBlock: 69.981 (3)
  PetaboxLoader3.datanode: 72.372 (4)
  load_resource: 140.743
  PetaboxLoader3.resolve: 49.775
*/