.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 01:44:49 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:51:32 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.588
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.012
  esindex: 0.011
  cdx.remote: 11.581
  LoadShardBlock: 171.279 (3)
  PetaboxLoader3.datanode: 221.677 (5)
  load_resource: 320.917 (2)
  PetaboxLoader3.resolve: 226.581 (2)
*/