/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 04:51:42 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:56:20 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.523
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.011
  esindex: 0.01
  cdx.remote: 12.246
  LoadShardBlock: 85.453 (3)
  PetaboxLoader3.datanode: 92.402 (4)
  load_resource: 81.756
  PetaboxLoader3.resolve: 50.227
*/