/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 16:15:19 Sep 29, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:01:51 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 18.4
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 1011.021
  LoadShardBlock: 568.613 (3)
  PetaboxLoader3.datanode: 168.939 (4)
  PetaboxLoader3.resolve: 98.527 (2)
  load_resource: 212.485
*/