/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 01:54:04 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:02:18 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.936
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.011
  esindex: 0.011
  cdx.remote: 24.874
  LoadShardBlock: 167.994 (3)
  PetaboxLoader3.datanode: 192.287 (5)
  load_resource: 403.745 (2)
  PetaboxLoader3.resolve: 322.605 (2)
*/