.page-tools a {
	font-family: Georgia, Times, serif;
	font-size: .6875em;
	font-weight: bold;
	text-transform: uppercase;
}
.page-tools span {
	display: block;
	margin-top: .5em;
}
.page-tools a:link {
	color: #3a1e1a;
}
.print-this-page, .share-this-page {
	padding-left: 1.375em;
	position: relative;
}

.page-tools .sIFR-replaced {
	background-position: 0 10%;
}


.page-tools .sIFR-replaced {
	background-position: 0 10%;
}

#print-share:after {
	content: ".";
	display: block;
	height: 0;
	clear: left;
	visibility: hidden;
}

.page-tools-png a {
	position: relative;
	font-family: Georgia, Times, serif;
	font-size: .6875em;
	font-weight: bold;
	text-transform: uppercase;
	background-image: url("../../../../../../../../../../../20150906075600im_/http:/www.brown.edu/academics/political-theory-project/sites/all/modules/custom/brown_printshare/theme/page-tools-sprite.png");
	background-repeat: no-repeat;
	text-indent: -999em;
	display: block;
	width: 140px;
	height: 28px;
}
.print-this-page {
	background-position: 0 0 !important;
}
.share-this-page {
	background-position: 0 -27px !important;
}
.print-this-page:hover {
	background-position: -160px 0 !important;
}
.share-this-page:hover {
	background-position: -160px -27px !important;
}

/*
     FILE ARCHIVED ON 07:56:00 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:26:54 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.714
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 31.758
  LoadShardBlock: 351.232 (3)
  PetaboxLoader3.datanode: 134.684 (5)
  PetaboxLoader3.resolve: 354.788 (3)
  load_resource: 223.569 (2)
*/