/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:02:25 Apr 13, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:11:36 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.469
  exclusion.robots: 0.033
  exclusion.robots.policy: 0.02
  esindex: 0.012
  cdx.remote: 9.381
  LoadShardBlock: 543.994 (3)
  PetaboxLoader3.datanode: 666.084 (5)
  load_resource: 231.943 (2)
  PetaboxLoader3.resolve: 83.719
*/