/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:31:25 Oct 10, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:31:40 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.769
  exclusion.robots: 0.036
  exclusion.robots.policy: 0.021
  esindex: 0.014
  cdx.remote: 5.162
  LoadShardBlock: 84.398 (3)
  PetaboxLoader3.datanode: 60.911 (4)
  PetaboxLoader3.resolve: 58.994 (2)
  load_resource: 70.841
*/