/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 20:38:06 Dec 30, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:27:40 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.754
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.012
  esindex: 0.016
  cdx.remote: 19.156
  LoadShardBlock: 123.604 (3)
  PetaboxLoader3.datanode: 143.193 (4)
  load_resource: 297.269
  PetaboxLoader3.resolve: 252.938
*/