#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 18:46:46 Jul 29, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:22:01 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.724
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.016
  cdx.remote: 10.739
  LoadShardBlock: 104.7 (3)
  PetaboxLoader3.datanode: 108.444 (5)
  PetaboxLoader3.resolve: 156.252 (3)
  load_resource: 199.981 (2)
*/