#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 04:00:37 Feb 21, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:03:22 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.72
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 19.945
  LoadShardBlock: 174.521 (3)
  PetaboxLoader3.resolve: 138.286 (3)
  PetaboxLoader3.datanode: 86.745 (4)
  load_resource: 56.908
*/