/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 09:41:59 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:29:50 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.64
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.013
  cdx.remote: 38.16
  LoadShardBlock: 125.158 (3)
  PetaboxLoader3.datanode: 103.941 (5)
  PetaboxLoader3.resolve: 208.542 (3)
  load_resource: 197.16 (2)
*/