/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 09:41:59 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:38:06 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.846
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.015
  esindex: 0.014
  cdx.remote: 6.186
  LoadShardBlock: 52.986 (3)
  PetaboxLoader3.datanode: 79.461 (5)
  load_resource: 119.923 (2)
  PetaboxLoader3.resolve: 77.657 (2)
*/