
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
#node-admin-filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#node-admin-buttons {
  float: left; /* LTR */
  margin-left: 0.5em; /* LTR */
  clear: right; /* LTR */
}
td.revision-current {
  background: #ffc;
}
.node-form .form-text {
  display: block;
  width: 95%;
}
.node-form .container-inline .form-text {
  display: inline;
  width: auto;
}
.node-form .standard {
  clear: both;
}
.node-form textarea {
  display: block;
  width: 95%;
}
.node-form .attachments fieldset {
  float: none;
  display: block;
}
.terms-inline {
  display: inline;
}

/*
     FILE ARCHIVED ON 14:18:51 Jan 23, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:59:38 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.716
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 26.285
  LoadShardBlock: 341.662 (3)
  PetaboxLoader3.datanode: 169.441 (4)
  PetaboxLoader3.resolve: 223.976 (2)
  load_resource: 199.606
*/