#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 04:13:02 Apr 08, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:44:38 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.559
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 8.12
  LoadShardBlock: 579.418 (3)
  PetaboxLoader3.datanode: 347.089 (4)
  PetaboxLoader3.resolve: 257.01 (2)
  load_resource: 49.023
*/