/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 02:21:10 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:51:45 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.687
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 36.052
  LoadShardBlock: 242.419 (3)
  PetaboxLoader3.datanode: 122.64 (5)
  PetaboxLoader3.resolve: 266.804 (3)
  load_resource: 187.241 (2)
*/