/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 14:51:43 Nov 04, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:27:12 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.802
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.012
  esindex: 0.017
  cdx.remote: 10.581
  LoadShardBlock: 136.88 (3)
  PetaboxLoader3.datanode: 163.945 (4)
  load_resource: 193.077
  PetaboxLoader3.resolve: 131.546
*/