/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:02:25 Apr 13, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:16:52 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.906
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.012
  esindex: 0.014
  cdx.remote: 35.394
  LoadShardBlock: 183.95 (3)
  PetaboxLoader3.datanode: 207.64 (5)
  load_resource: 370.081 (2)
  PetaboxLoader3.resolve: 263.604 (2)
*/