/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 07:29:06 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:32:48 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.565
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 5.861
  LoadShardBlock: 141.619 (3)
  PetaboxLoader3.datanode: 99.451 (5)
  load_resource: 187.735 (2)
  PetaboxLoader3.resolve: 112.215 (2)
*/