.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 04:23:35 Jun 28, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:51:06 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.634
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.012
  cdx.remote: 110.671
  LoadShardBlock: 147.294 (3)
  PetaboxLoader3.datanode: 77.735 (4)
  PetaboxLoader3.resolve: 74.147
  load_resource: 9.42
*/