/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 02:21:10 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:56:58 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.481
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 17.803
  LoadShardBlock: 110.768 (3)
  PetaboxLoader3.datanode: 146.6 (5)
  load_resource: 119.475 (2)
  PetaboxLoader3.resolve: 55.701
*/