#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 12:10:28 Feb 18, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:42 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.506
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.013
  esindex: 0.01
  cdx.remote: 22.027
  LoadShardBlock: 166.626 (3)
  PetaboxLoader3.datanode: 208.946 (4)
  PetaboxLoader3.resolve: 85.236 (2)
  load_resource: 143.485
*/