#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 08:42:34 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:32:43 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.569
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 11.671
  LoadShardBlock: 875.385 (3)
  PetaboxLoader3.datanode: 144.432 (5)
  PetaboxLoader3.resolve: 1040.457 (3)
  load_resource: 465.376 (2)
*/