#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 07:35:44 Dec 04, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:30:50 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.419
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.007
  esindex: 0.008
  cdx.remote: 16.35
  LoadShardBlock: 111.895 (3)
  PetaboxLoader3.datanode: 118.52 (4)
  load_resource: 169.883
  PetaboxLoader3.resolve: 155.76
*/