/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 21:42:28 Jul 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:28:34 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.761
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 33.351
  LoadShardBlock: 200.415 (3)
  PetaboxLoader3.datanode: 225.837 (5)
  load_resource: 527.402 (2)
  PetaboxLoader3.resolve: 437.417 (2)
*/