/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:31:25 Oct 10, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:09:30 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 3.336
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.013
  esindex: 0.015
  cdx.remote: 11.468
  LoadShardBlock: 371.329 (3)
  PetaboxLoader3.datanode: 406.057 (4)
  PetaboxLoader3.resolve: 173.081 (2)
  load_resource: 375.7
*/