/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:41:21 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:16:19 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.037
  exclusion.robots: 0.045
  exclusion.robots.policy: 0.028
  esindex: 0.028
  cdx.remote: 9.904
  LoadShardBlock: 82.595 (3)
  PetaboxLoader3.datanode: 65.274 (4)
  load_resource: 1934.102
  PetaboxLoader3.resolve: 1896.521
*/