
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../../../../../../../20110807172127im_/http:/www.brown.edu/Departments/Political_Theory_Project/misc/farbtastic/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../../../../../../../20110807172127im_/http:/www.brown.edu/Departments/Political_Theory_Project/misc/farbtastic/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(../../../../../../../20110807172127im_/http:/www.brown.edu/Departments/Political_Theory_Project/misc/farbtastic/marker.png) no-repeat;
}


/*
     FILE ARCHIVED ON 17:21:27 Aug 07, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:35:01 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.552
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 55.501
  LoadShardBlock: 127.201 (3)
  PetaboxLoader3.datanode: 88.284 (4)
  PetaboxLoader3.resolve: 52.966
  load_resource: 33.258
*/