.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 05:13:58 Jul 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:21:53 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.457
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.011
  cdx.remote: 6.537
  LoadShardBlock: 132.461 (3)
  PetaboxLoader3.datanode: 167.943 (5)
  PetaboxLoader3.resolve: 387.611 (3)
  load_resource: 598.68 (2)
*/