.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(../../../../../../../../../../20150919175021im_/http:/www.brown.edu/academics/political-theory-project/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(../../../../../../../../../../20150919175021im_/http:/www.brown.edu/academics/political-theory-project/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;
}

/*
     FILE ARCHIVED ON 17:50:21 Sep 19, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:45:00 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.836
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 17.442
  LoadShardBlock: 217.372 (3)
  PetaboxLoader3.datanode: 220.576 (5)
  load_resource: 201.058 (2)
  PetaboxLoader3.resolve: 121.924 (2)
*/