.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(../../../../../../../../../../20190124094136im_/https:/www.brown.edu/academics/political-theory-project/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(../../../../../../../../../../20190124094136im_/https:/www.brown.edu/academics/political-theory-project/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;
}

/*
     FILE ARCHIVED ON 09:41:36 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:37:46 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.465
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 6.83
  LoadShardBlock: 84.34 (3)
  PetaboxLoader3.datanode: 115.982 (5)
  load_resource: 210.899 (2)
  PetaboxLoader3.resolve: 147.307 (2)
*/