/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 23:35:10 Aug 03, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:56:08 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.714
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.012
  esindex: 0.014
  cdx.remote: 11.033
  LoadShardBlock: 151.111 (3)
  PetaboxLoader3.datanode: 46.707 (4)
  PetaboxLoader3.resolve: 133.803 (2)
  load_resource: 33.025
*/