/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 17:23:31 Aug 07, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:35:02 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.577
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.018
  esindex: 0.01
  cdx.remote: 7.049
  LoadShardBlock: 117.451 (3)
  PetaboxLoader3.datanode: 64.649 (4)
  PetaboxLoader3.resolve: 130.887 (2)
  load_resource: 99.639
*/