#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 08:42:34 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:48:45 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.501
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 27.348
  LoadShardBlock: 162.84 (3)
  PetaboxLoader3.datanode: 146.351 (5)
  PetaboxLoader3.resolve: 630.142 (3)
  load_resource: 670.372 (2)
*/