/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 18:54:37 May 27, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:38:34 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.457
  exclusion.robots: 0.014
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 6.99
  LoadShardBlock: 82.275 (3)
  PetaboxLoader3.datanode: 100.525 (4)
  load_resource: 154.055
  PetaboxLoader3.resolve: 110.264
*/