/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 17:58:23 May 14, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:53:55 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 3.793
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 25.827
  LoadShardBlock: 245.163 (3)
  PetaboxLoader3.datanode: 85.101 (4)
  PetaboxLoader3.resolve: 205.64 (2)
  load_resource: 102.844
*/