/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 09:51:50 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:48:35 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.662
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.016
  cdx.remote: 34.256
  LoadShardBlock: 162.89 (3)
  PetaboxLoader3.datanode: 152.09 (5)
  load_resource: 843.156 (2)
  PetaboxLoader3.resolve: 759.512 (2)
*/