
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
#node-admin-filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#node-admin-buttons {
  float: left; /* LTR */
  margin-left: 0.5em; /* LTR */
  clear: right; /* LTR */
}
td.revision-current {
  background: #ffc;
}
.node-form .form-text {
  display: block;
  width: 95%;
}
.node-form .container-inline .form-text {
  display: inline;
  width: auto;
}
.node-form .standard {
  clear: both;
}
.node-form textarea {
  display: block;
  width: 95%;
}
.node-form .attachments fieldset {
  float: none;
  display: block;
}
.terms-inline {
  display: inline;
}

/*
     FILE ARCHIVED ON 04:34:21 Oct 10, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:50:56 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.808
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.013
  esindex: 0.103
  cdx.remote: 8.117
  LoadShardBlock: 106.109 (3)
  PetaboxLoader3.datanode: 100.94 (4)
  load_resource: 269.399
  PetaboxLoader3.resolve: 118.51
*/