/* $Id: brown_brown_google_cse.css,v 1.1.4.4 2008/06/27 00:13:19 mfb Exp $ */
#google-cse-searchbox-form div, #google-cse-searchbox-form input { margin: 0; display: inline; }
#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input { margin: 0; display: inline; }
#google-cse-searchbox-form .form-radios div { display: block; }
#google-cse-results-searchbox-form .form-radios div { display: block; }
#google-cse-results-gadget a { margin-left: 2em; }

/*
     FILE ARCHIVED ON 11:03:06 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:13:08 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.411
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.006
  esindex: 0.008
  cdx.remote: 11.674
  LoadShardBlock: 1563.628 (3)
  PetaboxLoader3.datanode: 1494.848 (4)
  PetaboxLoader3.resolve: 182.936 (2)
  load_resource: 142.199
*/