/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 00:55:31 Jul 19, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:37:16 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.468
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.013
  esindex: 0.008
  cdx.remote: 11.856
  LoadShardBlock: 276.914 (3)
  PetaboxLoader3.datanode: 195.269 (4)
  load_resource: 2880.157
  PetaboxLoader3.resolve: 37.016
*/