/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 23:31:40 Aug 02, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:54:23 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.509
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 6.06
  LoadShardBlock: 500.35 (3)
  PetaboxLoader3.datanode: 498.865 (4)
  load_resource: 47.287
  PetaboxLoader3.resolve: 40.33
*/