.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 19:05:45 Apr 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:42:40 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.474
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 6.014
  LoadShardBlock: 82.672 (3)
  PetaboxLoader3.datanode: 77.121 (4)
  load_resource: 152.612
  PetaboxLoader3.resolve: 123.337
*/