/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 17:10:36 Jul 13, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:56:38 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.577
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.012
  cdx.remote: 8.553
  LoadShardBlock: 134.568 (3)
  PetaboxLoader3.datanode: 123.794 (4)
  load_resource: 168.627
  PetaboxLoader3.resolve: 106.357
*/