/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:23:34 Jun 28, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:51:18 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 274.336
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.01
  cdx.remote: 24.736
  LoadShardBlock: 135.896 (3)
  PetaboxLoader3.datanode: 79.091 (4)
  load_resource: 143.322
  PetaboxLoader3.resolve: 137.343
*/