/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 02:21:10 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:02:34 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.568
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 4.874
  LoadShardBlock: 159.217 (3)
  PetaboxLoader3.datanode: 172.915 (5)
  load_resource: 150.059 (2)
  PetaboxLoader3.resolve: 85.015 (2)
*/