/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 17:58:23 May 14, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:59:09 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.501
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.013
  esindex: 0.01
  cdx.remote: 11.008
  LoadShardBlock: 129.936 (3)
  PetaboxLoader3.datanode: 120.479 (4)
  load_resource: 640.294
  PetaboxLoader3.resolve: 605.607
*/