
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 01:58:26 Oct 23, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:03:33 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.681
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 5.003
  LoadShardBlock: 263.799 (3)
  PetaboxLoader3.datanode: 161.039 (4)
  PetaboxLoader3.resolve: 167.413 (3)
  load_resource: 119.808
*/