/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 07:29:06 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:27:12 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.573
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.021
  esindex: 0.027
  cdx.remote: 6.732
  LoadShardBlock: 314.577 (3)
  PetaboxLoader3.resolve: 345.668 (4)
  PetaboxLoader3.datanode: 162.439 (5)
  load_resource: 228.448 (2)
*/