/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox Internet Explorer specific settings <<<--------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

* html #TB_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

* html #TB_window { /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_load { /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_HideSelect { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

* html #TB_iframeContent { /* ie6 hack */
  margin-bottom: 1px;
}

.TB_overlayBG {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* ie8 hack */
  filter: alpha(opacity=75); /* ie6 and ie7 hack */
}

#TB_HideSelect {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* ie8 hack */
  filter: alpha(opacity=0); /* ie6 and ie7 hack */
}

/*
     FILE ARCHIVED ON 23:18:48 Nov 04, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:45 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.512
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.015
  cdx.remote: 20.869
  LoadShardBlock: 107.137 (3)
  PetaboxLoader3.datanode: 74.271 (4)
  PetaboxLoader3.resolve: 97.905 (2)
  load_resource: 101.85
*/