/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 04:51:42 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:37 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.881
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.016
  esindex: 0.021
  cdx.remote: 6.975
  LoadShardBlock: 68.315 (3)
  PetaboxLoader3.datanode: 100.898 (4)
  load_resource: 254.574
  PetaboxLoader3.resolve: 183.929
*/