/* $Id: filefield.css,v 1.22 2010/06/29 23:49:11 quicksketch Exp $ */

/**
 * Formatter styles
 */

.filefield-icon {
  margin: 0 2px 0 0; /* RTL */
}

/* End formatter styles. */

/**
 * General widget form styles (applicable to all widgets).
 */
.filefield-element {
  margin: 1em 0;
  white-space: normal;
}

.filefield-element .widget-preview {
  float: left; /* RTL */
  padding: 0 10px 0 0; /* RTL */
  margin: 0 10px 0 0; /* RTL */
  border-width: 0 1px 0 0; /* RTL */
  border-style: solid;
  border-color: #CCC;
  max-width: 30%;
}

.filefield-element .widget-edit {
  float: left; /* RTL */
  max-width: 70%;
}

.filefield-element .filefield-preview {
  width: 16em;
  overflow: hidden;
}

.filefield-element .widget-edit .form-item {
  margin: 0 0 1em 0;
}

.filefield-element input.form-submit,
.filefield-element input.form-file {
  margin: 0;
}

.filefield-element input.progress-disabled {
  float: none;
  display: inline;
}

.filefield-element div.ahah-progress,
.filefield-element div.throbber {
  display: inline;
  float: none;
  padding: 1px 13px 2px 3px; /* RTL */
}

.filefield-element div.ahah-progress-bar {
  display: none;
  margin-top: 4px;
  width: 28em;
  padding: 0;
}

.filefield-element div.ahah-progress-bar div.bar {
  margin: 0;
}

/* End general widget form styles. */

/*
     FILE ARCHIVED ON 08:23:07 Apr 14, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:50:02 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.519
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 6.091
  LoadShardBlock: 147.853 (3)
  PetaboxLoader3.datanode: 164.198 (4)
  load_resource: 62.853
  PetaboxLoader3.resolve: 37.201
*/