#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 09:41:55 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:41:01 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.661
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.021
  esindex: 0.018
  cdx.remote: 5.387
  LoadShardBlock: 2046.171 (3)
  PetaboxLoader3.datanode: 263.449 (5)
  load_resource: 526.136 (2)
  PetaboxLoader3.resolve: 241.253 (2)
*/