/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 07:35:49 Dec 04, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:30:53 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.67
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 35.974
  LoadShardBlock: 60.641 (3)
  PetaboxLoader3.datanode: 70.434 (4)
  load_resource: 72.559
  PetaboxLoader3.resolve: 50.575
*/