/* $Id: brown_brown_google_cse.css,v 1.1.4.4 2008/06/27 00:13:19 mfb Exp $ */
#google-cse-searchbox-form div, #google-cse-searchbox-form input { margin: 0; display: inline; }
#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input { margin: 0; display: inline; }
#google-cse-searchbox-form .form-radios div { display: block; }
#google-cse-results-searchbox-form .form-radios div { display: block; }
#google-cse-results-gadget a { margin-left: 2em; }

/*
     FILE ARCHIVED ON 15:21:50 Jul 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:21:47 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.684
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.008
  esindex: 0.013
  cdx.remote: 37.626
  LoadShardBlock: 142.303 (3)
  PetaboxLoader3.datanode: 186.571 (5)
  load_resource: 454.217 (2)
  PetaboxLoader3.resolve: 298.44 (2)
*/