#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 09:41:55 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:38:03 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.5
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 6.248
  LoadShardBlock: 48.201 (3)
  PetaboxLoader3.datanode: 84.047 (5)
  load_resource: 129.254 (2)
  PetaboxLoader3.resolve: 74.418 (2)
*/