/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 21:42:28 Jul 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:22:05 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.549
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 6.734
  LoadShardBlock: 54.383 (3)
  PetaboxLoader3.datanode: 102.685 (5)
  load_resource: 239.519 (2)
  PetaboxLoader3.resolve: 144.308 (2)
*/