/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 02:21:10 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:31:08 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.534
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 10.068
  LoadShardBlock: 132.149 (3)
  PetaboxLoader3.datanode: 93.868 (5)
  PetaboxLoader3.resolve: 213.596 (3)
  load_resource: 231.916 (2)
*/