#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 23:04:44 Sep 06, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:05:25 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.543
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 7.239
  LoadShardBlock: 347.379 (3)
  PetaboxLoader3.resolve: 211.155 (4)
  PetaboxLoader3.datanode: 163.105 (4)
  load_resource: 42.717
*/