#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 03:58:49 Jan 22, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:07:01 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.639
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 8.983
  LoadShardBlock: 107.178 (3)
  PetaboxLoader3.datanode: 350.066 (4)
  PetaboxLoader3.resolve: 95.162 (2)
  load_resource: 351.941
*/