#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 06:09:34 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:46 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.544
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 44.028
  LoadShardBlock: 234.794 (3)
  PetaboxLoader3.datanode: 120.872 (4)
  PetaboxLoader3.resolve: 206.739 (2)
  load_resource: 223.691
*/