.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 08:16:13 May 10, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:49:25 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.444
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.006
  esindex: 0.009
  cdx.remote: 11.824
  LoadShardBlock: 57.731 (3)
  PetaboxLoader3.datanode: 107.54 (4)
  load_resource: 117.925
  PetaboxLoader3.resolve: 50.558
*/