
#aggregator .feed-source .feed-title {
  margin-top: 0;
}
#aggregator .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
#aggregator .feed-source .feed-icon {
  float: right; /* LTR */
  display: block;
}
#aggregator .feed-item {
  margin-bottom: 1.5em;
}
#aggregator .feed-item-title {
  margin-bottom: 0;
  font-size: 1.3em;
}
#aggregator .feed-item-meta, #aggregator .feed-item-body {
  margin-bottom: 0.5em;
}
#aggregator .feed-item-categories {
  font-size: 0.9em;
}
#aggregator td {
  vertical-align: bottom;
}
#aggregator td.categorize-item {
  white-space: nowrap;
}
#aggregator .categorize-item .news-item .body {
  margin-top: 0;
}
#aggregator .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}

/*
     FILE ARCHIVED ON 00:54:00 Jul 19, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:19:02 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.598
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.031
  cdx.remote: 126.988
  LoadShardBlock: 143.784 (3)
  PetaboxLoader3.datanode: 133.491 (4)
  PetaboxLoader3.resolve: 172.905 (2)
  load_resource: 200.494
*/