/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 17:10:36 Jul 13, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:01:52 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.63
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 11.137
  LoadShardBlock: 519.832 (3)
  PetaboxLoader3.datanode: 110.533 (4)
  PetaboxLoader3.resolve: 4002.663 (2)
  load_resource: 4010.552
*/