#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 02:10:45 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:56:53 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.751
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.014
  esindex: 0.013
  cdx.remote: 8.108
  LoadShardBlock: 200.0 (3)
  PetaboxLoader3.resolve: 247.615 (4)
  PetaboxLoader3.datanode: 125.239 (5)
  load_resource: 228.282 (2)
*/