#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 02:10:45 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:51:42 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.012
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.014
  esindex: 0.018
  cdx.remote: 11.098
  LoadShardBlock: 58.421 (3)
  PetaboxLoader3.datanode: 95.543 (5)
  load_resource: 126.368 (2)
  PetaboxLoader3.resolve: 61.445 (2)
*/