.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 23:31:42 Aug 02, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:54:11 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.711
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.009
  esindex: 0.013
  cdx.remote: 39.153
  LoadShardBlock: 135.238 (3)
  PetaboxLoader3.datanode: 83.44 (4)
  load_resource: 128.877
  PetaboxLoader3.resolve: 111.658
*/