@font-face{font-display:swap;font-family:"CircularStd";src:url("../../../../../../../../20241106044417im_/https:/ppe.brown.edu/themes/custom/brown/static/fonts/CircularStd-Bold.otf");font-weight:700;font-style:normal}@font-face{font-display:swap;font-family:"CircularStd";src:url("../../../../../../../../20241106044417im_/https:/ppe.brown.edu/themes/custom/brown/static/fonts/CircularStd-Medium.otf");font-weight:500;font-style:normal}@font-face{font-display:swap;font-family:"CircularStd";src:url("../../../../../../../../20241106044417im_/https:/ppe.brown.edu/themes/custom/brown/static/fonts/CircularStd-Book.otf");font-weight:400;font-style:normal}

/*
     FILE ARCHIVED ON 04:44:17 Nov 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:54:35 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.285
  exclusion.robots: 0.035
  exclusion.robots.policy: 0.016
  esindex: 0.086
  cdx.remote: 34.831
  LoadShardBlock: 133.97 (3)
  PetaboxLoader3.datanode: 96.328 (4)
  load_resource: 194.506
  PetaboxLoader3.resolve: 143.938
*/