/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 13:04:46 Feb 18, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:34 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.496
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 6.066
  LoadShardBlock: 183.949 (3)
  PetaboxLoader3.datanode: 196.277 (4)
  load_resource: 70.522
  PetaboxLoader3.resolve: 31.282
*/