/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 14:51:43 Nov 04, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:05:38 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.641
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.018
  esindex: 0.011
  cdx.remote: 6.406
  LoadShardBlock: 228.621 (3)
  PetaboxLoader3.datanode: 196.897 (4)
  PetaboxLoader3.resolve: 120.921 (2)
  load_resource: 195.356
*/