/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 02:21:10 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:54:38 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.726
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.015
  cdx.remote: 27.098
  LoadShardBlock: 296.482 (3)
  PetaboxLoader3.datanode: 372.311 (5)
  load_resource: 478.131 (2)
  PetaboxLoader3.resolve: 243.534 (2)
*/