.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 11:33:57 Jul 02, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:52:36 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.68
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.013
  esindex: 0.013
  cdx.remote: 11.033
  LoadShardBlock: 92.22 (3)
  PetaboxLoader3.datanode: 71.647 (4)
  load_resource: 83.815
  PetaboxLoader3.resolve: 79.309
*/