/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 23:35:07 Aug 03, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:56:20 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.554
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 26.958
  LoadShardBlock: 138.962 (3)
  PetaboxLoader3.datanode: 159.894 (4)
  load_resource: 89.518
  PetaboxLoader3.resolve: 49.96
*/