/* timeEntry styles */
.timeEntry_control {
	vertical-align: middle;
	margin-left: 2px;
}
* html .timeEntry_control { /* IE only */
	margin-top: -4px;
}
/* Make sure background colors from other styles don't obscure the current element highlight */
.timeEntry {
  background-color:transparent !important;
}
/* This is to keep FF from offering a drop-down list of previous values. */
/* For some reason hiding the div where the image belongs keeps that from happening. */
.timeEntry_control {
  display:none;
}
/*
     FILE ARCHIVED ON 19:04:17 May 27, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:38:26 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.256
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.019
  cdx.remote: 140.623
  LoadShardBlock: 121.326 (3)
  PetaboxLoader3.datanode: 160.456 (4)
  load_resource: 106.292
  PetaboxLoader3.resolve: 52.579
*/