/* $Id: brown_brown_google_cse.css,v 1.1.4.4 2008/06/27 00:13:19 mfb Exp $ */
#google-cse-searchbox-form div, #google-cse-searchbox-form input { margin: 0; display: inline; }
#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input { margin: 0; display: inline; }
#google-cse-searchbox-form .form-radios div { display: block; }
#google-cse-results-searchbox-form .form-radios div { display: block; }
#google-cse-results-gadget a { margin-left: 2em; }

/*
     FILE ARCHIVED ON 11:03:06 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:48:25 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.794
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.012
  esindex: 0.019
  cdx.remote: 13.427
  LoadShardBlock: 73.332 (3)
  PetaboxLoader3.datanode: 110.631 (4)
  load_resource: 80.011
  PetaboxLoader3.resolve: 32.736
*/