#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 01:49:38 Sep 07, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:57:59 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.471
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.013
  esindex: 0.009
  cdx.remote: 21.905
  LoadShardBlock: 1186.374 (3)
  PetaboxLoader3.datanode: 271.981 (4)
  PetaboxLoader3.resolve: 1024.248 (3)
  load_resource: 154.053
*/