/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 20:04:50 Dec 11, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:44:16 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.548
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.014
  esindex: 0.009
  cdx.remote: 8.799
  LoadShardBlock: 313.637 (3)
  PetaboxLoader3.datanode: 180.678 (4)
  PetaboxLoader3.resolve: 160.217 (3)
  load_resource: 141.068
*/