#shib_login_url a {
  font-weight: bold;
}

#edit-shib-auth-terms-url-wrapper {
  float: left;
}

#edit-shib-auth-terms-ver-wrapper {
  float: left;
  margin-left: 5px;
}

/*
     FILE ARCHIVED ON 02:10:45 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:31:04 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.625
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 7.274
  LoadShardBlock: 296.018 (3)
  PetaboxLoader3.datanode: 259.312 (5)
  PetaboxLoader3.resolve: 285.558 (3)
  load_resource: 285.851 (2)
*/