/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 19:42:52 May 08, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:27:55 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.535
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.009
  esindex: 0.011
  cdx.remote: 8.709
  LoadShardBlock: 199.787 (3)
  PetaboxLoader3.datanode: 127.406 (4)
  PetaboxLoader3.resolve: 195.986 (2)
  load_resource: 143.878
*/