/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 17:13:40 Feb 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:41:11 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.504
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.011
  cdx.remote: 19.148
  LoadShardBlock: 91.537 (3)
  PetaboxLoader3.datanode: 115.642 (4)
  load_resource: 87.72
  PetaboxLoader3.resolve: 45.418
*/