/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 19:05:57 Apr 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:42:54 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.641
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.02
  esindex: 0.012
  cdx.remote: 6.168
  LoadShardBlock: 94.515 (3)
  PetaboxLoader3.datanode: 124.291 (4)
  load_resource: 1404.149
  PetaboxLoader3.resolve: 1254.76
*/