/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 04:12:56 Apr 08, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:44:29 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.61
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 15.894
  LoadShardBlock: 145.84 (3)
  PetaboxLoader3.datanode: 97.951 (4)
  PetaboxLoader3.resolve: 110.044 (2)
  load_resource: 66.863
*/