/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:31:25 Oct 10, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:19:32 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.667
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.018
  esindex: 0.011
  cdx.remote: 3.752
  LoadShardBlock: 156.52 (3)
  PetaboxLoader3.datanode: 120.023 (4)
  PetaboxLoader3.resolve: 108.725 (2)
  load_resource: 114.965
*/