/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 17:13:34 Feb 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:41:00 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.909
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.011
  esindex: 0.017
  cdx.remote: 10.592
  LoadShardBlock: 116.825 (3)
  PetaboxLoader3.datanode: 76.675 (4)
  PetaboxLoader3.resolve: 103.303 (2)
  load_resource: 71.719
*/