.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 17:13:39 Feb 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:40:59 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.502
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 16.1
  LoadShardBlock: 135.786 (3)
  PetaboxLoader3.datanode: 87.389 (4)
  PetaboxLoader3.resolve: 96.99 (2)
  load_resource: 68.069
*/