/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 01:49:51 Sep 07, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:58:06 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.638
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 36.72
  LoadShardBlock: 293.761 (3)
  PetaboxLoader3.resolve: 302.681 (4)
  PetaboxLoader3.datanode: 115.921 (4)
  load_resource: 128.89
*/