/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 09:41:59 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:41:05 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.674
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 152.856
  LoadShardBlock: 92.505 (3)
  PetaboxLoader3.datanode: 181.08 (5)
  load_resource: 247.695 (2)
  PetaboxLoader3.resolve: 130.49 (2)
*/