/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 04:31:25 Oct 10, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:05:41 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.931
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.014
  esindex: 0.019
  cdx.remote: 33.356
  LoadShardBlock: 483.943 (3)
  PetaboxLoader3.resolve: 430.755 (4)
  PetaboxLoader3.datanode: 164.85 (4)
  load_resource: 276.041
*/