.mediaplayer {
}

.media-left {
	float: left;
	margin: 0 .75em .75em 0;
}
.media-right {
	float: right;
	margin: 0 0 .75em .75em;
}
.media-break {
	clear: both;
}

#field-caption-items .description {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 0.75em;
	font-size: .625em;
	color: #666;
}
/*
     FILE ARCHIVED ON 07:35:44 Dec 04, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:30:41 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.472
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 8.404
  LoadShardBlock: 223.012 (3)
  PetaboxLoader3.datanode: 112.333 (4)
  PetaboxLoader3.resolve: 152.143 (2)
  load_resource: 73.106
*/