/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 14:22:31 Jan 23, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:00:00 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.096
  exclusion.robots: 0.044
  exclusion.robots.policy: 0.031
  esindex: 0.024
  cdx.remote: 18.909
  LoadShardBlock: 143.961 (3)
  PetaboxLoader3.datanode: 296.046 (4)
  PetaboxLoader3.resolve: 111.287 (2)
  load_resource: 271.02
*/