/* $Id$ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 04:00:34 Feb 21, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:03:14 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.789
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.017
  esindex: 0.011
  cdx.remote: 6.437
  LoadShardBlock: 86.986 (3)
  PetaboxLoader3.datanode: 77.247 (4)
  load_resource: 44.043
  PetaboxLoader3.resolve: 36.493
*/