/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 23:04:44 Sep 06, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:05:31 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.492
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.014
  esindex: 0.01
  cdx.remote: 1922.787
  LoadShardBlock: 368.348 (3)
  PetaboxLoader3.datanode: 156.31 (4)
  PetaboxLoader3.resolve: 278.731 (2)
  load_resource: 181.788
*/