/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 12:19:42 Feb 18, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:46 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.504
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 30.167
  LoadShardBlock: 137.6 (3)
  PetaboxLoader3.datanode: 128.623 (4)
  PetaboxLoader3.resolve: 53.228
  load_resource: 50.749
*/