/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 18:54:37 May 27, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:20:07 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.505
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.014
  esindex: 0.01
  cdx.remote: 30.7
  LoadShardBlock: 206.208 (3)
  PetaboxLoader3.datanode: 106.134 (4)
  load_resource: 149.958
  PetaboxLoader3.resolve: 95.294
*/