/* $Id: fieldgroup.css,v 1.2.2.2 2009/03/14 18:55:20 yched Exp $ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 18:25:30 May 20, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:42:58 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.899
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 14.077
  LoadShardBlock: 341.423 (3)
  PetaboxLoader3.resolve: 218.475 (3)
  PetaboxLoader3.datanode: 184.331 (4)
  load_resource: 229.031
*/