/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 23:50:45 Jan 21, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:19:05 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.501
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 6.918
  LoadShardBlock: 112.239 (3)
  PetaboxLoader3.datanode: 68.616 (4)
  PetaboxLoader3.resolve: 70.836 (2)
  load_resource: 104.631
*/