/* $Id: brown_brown_google_cse.css,v 1.1.4.4 2008/06/27 00:13:19 mfb Exp $ */
#google-cse-searchbox-form div, #google-cse-searchbox-form input { margin: 0; display: inline; }
#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input { margin: 0; display: inline; }
#google-cse-searchbox-form .form-radios div { display: block; }
#google-cse-results-searchbox-form .form-radios div { display: block; }
#google-cse-results-gadget a { margin-left: 2em; }

/*
     FILE ARCHIVED ON 02:01:53 Dec 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:37:57 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.571
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 7.073
  LoadShardBlock: 75.808 (3)
  PetaboxLoader3.datanode: 101.912 (5)
  load_resource: 157.231 (2)
  PetaboxLoader3.resolve: 104.603 (2)
*/