/* $Id: img_assist.css,v 1.6.4.1 2008/07/22 23:08:13 sun Exp $ */

span.inline-left {
  display: block;
  float: left;
  margin: 5px 5px 5px 0px;
}
span.inline-right {
  display: block;
  float: right;
  margin: 5px 0px 5px 5px;
}
span.inline-center {
  display: block;
  text-align: center;
}
span.inline .caption {
  display: block;
}
.image-clear {
  display: block;
  clear: both;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  margin-bottom: -1px;
}

/*
     FILE ARCHIVED ON 08:24:22 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:18:50 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.452
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 177.497
  LoadShardBlock: 187.682 (3)
  PetaboxLoader3.datanode: 5197.266 (4)
  load_resource: 5096.314
  PetaboxLoader3.resolve: 45.381
*/