/* $Id$ */

div.fieldgroup {
  margin:.5em 0 1em 0;
}
div.fieldgroup .content {
  padding-left:1em;/*LTR*/
}

/*
     FILE ARCHIVED ON 07:29:06 Sep 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:48:50 Dec 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.765
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.012
  esindex: 0.013
  cdx.remote: 6.969
  LoadShardBlock: 199.548 (3)
  PetaboxLoader3.datanode: 116.155 (5)
  PetaboxLoader3.resolve: 232.316 (3)
  load_resource: 178.324 (2)
*/